<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Главная</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <h1 class="header__title">Личные списки и заметки</h1>
                <a href="/home">
                    <img  class="icon-reg" alt="Авторизация" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUxMnB0IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im01MTIgNjB2MzkyYzAgMzMuMDg1OTM4LTI2LjkxNDA2MiA2MC02MCA2MGgtMjQxYy0zMy4wODU5MzggMC02MC0yNi45MTQwNjItNjAtNjB2LTgwaDQwdjgwYzAgMTEuMDI3MzQ0IDguOTcyNjU2IDIwIDIwIDIwaDI0MWMxMS4wMjczNDQgMCAyMC04Ljk3MjY1NiAyMC0yMHYtMzkyYzAtMTEuMDI3MzQ0LTguOTcyNjU2LTIwLTIwLTIwaC0yNDFjLTExLjAyNzM0NCAwLTIwIDguOTcyNjU2LTIwIDIwdjgwaC00MHYtODBjMC0zMy4wODU5MzggMjYuOTE0MDYyLTYwIDYwLTYwaDI0MWMzMy4wODU5MzggMCA2MCAyNi45MTQwNjIgNjAgNjB6bS0yOTkuMjg1MTU2IDI2MiAyOC4yODUxNTYgMjguMjg1MTU2IDk0LjI4NTE1Ni05NC4yODUxNTYtOTQuMjg1MTU2LTk0LjI4NTE1Ni0yOC4yODUxNTYgMjguMjg1MTU2IDQ2IDQ2aC0yNTguNzE0ODQ0djQwaDI1OC43MTQ4NDR6bTAgMCIvPjwvc3ZnPg==" />
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <p class="text-desc">
                    Приветствую!
                </p>
                <p class="text-desc">
                    Перед Вами главная страница сервиса для ведения личных списков и заметок.
                </p>
                <p class="text-desc">
                    Как Вы можете использовать это приложение?
                </p>
                <ul class="text-desc list-desc">
                    <li class="list-desc__item">Добавлять, редактировать и удалять списки</li>
                    <li class="list-desc__item">Добавлять, редактировать и удалять заметки</li>
                    <li class="list-desc__item">Добавлять изображения к заметкам</li>
                    <li class="list-desc__item">Добавлять теги к спискам и заметкам</li>
                    <li class="list-desc__item">Фильтровать записи по тегам</li>
                    <li class="list-desc__item">Сортировать записи по дате</li>
                    
                </ul>
                <p class="text-desc">
                    Это курсовой проект студента группы ИКБО-12-18 Жариковой Екатерины Сергеевны по предмету "Разработка клиент-серверных приложений"
                </p>
                <p class="text-desc">
                    Просьба - не судить строго 	&#128579;
                </p>

                <span class="text-desc">
                    Ссылка на github:
                    <a href="https://github.com/ZharikovaES/PersonalListsApp.git">https://github.com/ZharikovaES/PersonalListsApp.git</a>
                </span>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <ul class="footer__list">
                <li class="list-footer__item"><a href="/">О нас</a></li>
                <li class="list-footer__item"><a href="mailto:z.kate2000@gmail.com">Связаться с нами</a></li>
            </ul>
            <p class="footer__text">
                Жарикова Е.С. ИКБО-12-18
            </p>
        </div>
    </footer>
</body>
</html>