@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

ul, h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

input{
    display: block;
        border: none;
        outline: none;
}
input[type=checkbox]{
    display: inline-block;
}
button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
#app{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.close{
    cursor: pointer;
    position: relative;
}
.close::before, .close::after{
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
}
.close::before{
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.close::after{
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.modal-header .close, .note__image .close{
    width: 20px;
    height: 20px;
}
.note__image{
    position: relative;
}
.note__image .close{
    position: absolute;
    right: 0;
}
.close::before, .close::after{
    background-color: #556B2F;
    width: 20px;
    height: 4px;
}
.tag-close::before, .tag-close::after{
    background-color: #556B2F;
    width: 15px;
    height: 4px;
}

.list-item, .list-tag, .note-tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item .close, .list-tag .close, .tag-close, .note-tag .close, .note-image .close, .btn-remove-close{
    width: 15px;
    height: 15px;
}
.list-item .close::before, .list-item .close::after,
.list-tag .close::before, .list-tag .close::after,
.note-tag .close::before, .note-tag .close::after,
.note__image .close::before, .note__image .close::after,
.tag-close::before, .tag-close::after
.btn-remove-close::before, .btn-remove-close::after
{
    background-color: #686e5d;
    width: 15px;
    height: 2px;
}

.field-units{
    display: flex;
    justify-content: space-between;
}
.field-units__column{
    max-width: 50%;
}
.field-units__column-title{
    text-align: center;
    margin: 20px;
}
.field-unit{
    align-self: flex-start;
    width: 230px;
    border: 2px dotted #123123;
    padding: 20px 15px 10px 15px;
    border-radius: 20px;
    margin: 5px;
    position: relative;
}
input[name=list-item-checkbox]{
    margin-right: 5px;
}
textarea[name=note-text]{
    resize: none;
    width: 100%;
}
.v-select{
    position: relative;
    width: 240px;
    cursor: pointer;
}
.v-select__title{
}
.v-select__options p{
    margin: 0;
}
.v-select__options{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
}

img{
    display: block;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.form-wrapper{
    margin: 0 auto;
    width: 300px;
}
.header{
    padding: 20px 0;
}
.footer{
    padding: 15px 0;
}
.footer__list, .header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__inner{
    justify-content: space-between;
}
.footer__list{
    justify-content: space-evenly;
}
.header{
    background-color: #78a368;
    box-shadow: 0px 5px 5px 0px #D1D1D1;
    border-bottom: 1px solid #4f734a;
    margin-bottom: 30px;

}
.header__title{
    font-family: 'Lobster', cursive;
}
.icon-reg{
    width: 35px;
}
main{
    flex: 1 0 auto;
}
.field-list, .field-note{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}
.field-unit-tags{
    display: flex;
    flex-wrap: wrap;
}
.field-tags{
    display: flex;
    flex-wrap: wrap;
}
.btn-remove-close{
    position: absolute;
    top: 14px;
    right: 16px;
}
.list-desc__item{
    position: relative;
    padding-left: 30px;
}
.list-desc__item::before{
    content: '';
    position: absolute;
    background-image: url(../img/check-mark.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    left: 0;
    display: block;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}
.content p + p {
    padding-top: 10px;
}
.content span {
    display: inline-block;
    padding-top: 20px;
}

.btn-dark-green, .field-tag__inner, .field-unit-tag{
    margin: 5px;
    border: 2px solid #606e5b;
    border-radius: 20px;
    padding: 7px 20px;
}
.field-tag__inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tag-close{
    margin-left: 10px;
}
.btn-dark-green-back{
    margin: 5px;
    border: 2px solid #606e5b;
    background-color: #afcaa6;
    border-radius: 20px;
    padding: 7px 20px;
}
.input-dark-green{
    margin: 5px;
    border: 2px solid #606e5b;
    border-radius: 20px;
    padding: 3px 15px;
}
.input-search-name{
    border: 2px solid #262b24;
    border-radius: 20px;
    padding: 3px 15px;
}

.controller{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controller button{
    display: block;
}

.v-select__options{
    top: 35px;
    border: 2px solid #606e5b;
    border-radius: 20px;
    padding: 0;
}
.v-select__options{
    margin: 0;
}
.v-select__options p + p{
    border-top: 2px solid #606e5b;
}
.v-select__options p{
    padding: 7px 10px;
}

.footer{
    border-top: 1px solid #4f734a;
    background-color: #98ad90;
    flex: 0 0 auto;
    margin-top: 30px;
}
.footer__text{
    padding-top: 7px;
    text-align: center;
}

.note__image img{
    width: 170px;
}

.message-text{
    text-align: center;
    padding-top: 10%;
}
.message-text p{
    text-align: center;
    font-size: 19px;
}

@media(max-width: 780px) {
    .field-units {
        justify-content: start;
        flex-wrap: wrap;
    }
    .field-units__column {
        max-width: 100%;
    }
}