html {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body {
}

ul, h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

input{
    display: block;
}

.close{
    cursor: pointer;
    position: relative;
}
.close::before, .close::after{
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
}
.close::before{
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.close::after{
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.modal-header .close{
    width: 20px;
    height: 20px;
}
.close::before, .close::after{
    background-color: #556B2F;
    width: 20px;
    height: 4px;
}
.list-item, .list-tag, .note-tag, .field-tag>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item .close, .list-tag .close, .field-tag>li .close, .note-tag .close, .note-image .close{
    width: 15px;
    height: 15px;
}
.list-item .close::before, .list-item .close::after,
.list-tag .close::before, .list-tag .close::after,
.note-tag .close::before, .note-tag .close::after,
.note-image .close::before, .note-image .close::after,
.field-tag>li .close::before, .field-tag>li .close::after
{
    background-color: #686e5d;
    width: 15px;
    height: 2px;
}

.field-units{
    display: flex;
    justify-content: space-between;
}
textarea[name=note-text]{
    resize: none;
}
.v-select{
    position: relative;
    width: 200px;
    cursor: pointer;
}
.v-select__title{
}
.v-select__options p{
    margin: 0;
}
.v-select__options{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
}

img{
    display: block;
    width: 100px;
}
